
:root{
    --alkaliMetals: blue;
    --metalloids: gold;
    --actinides: brown;
    --alkalineEarthMetals: maroon;
    --reactiveNonMetals: teal;
    --unknown: gray;
    --transitionMetals: purple;
    --NobleGases: orange;
    --postTransitionMetals: green;
    --lanthanides: rgb(252, 155, 171);
}

.container{
    width: auto;
    display: flex;
    color: white;
}
.left{
    display: flex;
    align-items: end;
    
}
.right{
    display: flex;
    align-items: end;
    margin-left: 20px;
    padding-right: 20px;
}
.row1{
    display: flex;
    flex-direction: column;
}
.row2{
    display: flex;
    flex-direction: column;
}
.square {
    border: 1px solid black;
    box-shadow:  0 0 2px 2px rgba(0, 0, 0, 0.5);
    width: 65px;
    height: 65px;    
    border-radius: 5px;
}
.tableOrder{
    margin: 0 auto;
    padding: 0 auto;
}
.elementShort{
    margin: 0 auto;
    padding: 0 auto;
    text-align: center;
}
.fullName{
    margin: 0 auto;
    padding: 0 auto;
    text-align: center;
    overflow-wrap: break-word;
}
.colorElements{
    position: relative;
    color: black;
    width: 40em;
    display: flex;
    margin-top: 30px;
    
}
.leftid{
    flex-direction: column;
    padding-left: 10px;
}
.rightid{
    margin-left: 10px;
    flex-direction: column;
}
.reactiveNonMetal{
    background-color: var(--reactiveNonMetals);
}
.alkaliMetals{
    background-color: var(--alkaliMetals);
}
.alkaliEarth{
    background-color: var(--alkalineEarthMetals);
}
.transMetals{
    background-color: var(--transitionMetals);
}
.lanth{
    background-color: var(--lanthanides);
}
.actinides{
    background-color: var(--actinides);
}
.unknown{
    background-color: var(--unknown);
}
.postTrans{
    background-color: var(--postTransitionMetals);
}
.metalloid{
    background-color: var(--metalloids);
}
.noble{
    background-color: var(--NobleGases);
}
.square:hover{
    transform: translate(10px, 10px) scale(1.5);
    box-shadow: inset  0 0 2px 2px rgba(0, 0, 0, 0.5);
}
input[type="radio"]{
    color: rgb(255, 89, 0);
}